*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 7px 0;
}

body::before{
    content: "";
    background: rgba(0,0,0,0.7) url('../img/bg.jpeg') center center/cover;
    background-blend-mode: darken;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    cursor: pointer;
    /* border: 1px solid white; */
    /* height: 450px; */
}

.navlist{
    width: 70%;
    display: flex;
    align-items: center;
}

.navlist li{
    list-style: none;
    padding: 25px 30px;
}

.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlist li a:hover{
    color: grey;
}
.rightNav{
    width: 30%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search{
    padding: 5px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px 22px;
}

.btn{
    font-size: 18px;
    padding: 8px 15px;
    margin: 10px 5px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 15px;
    border: 2px solid white;
    border-radius: 6px;
}


.first-section{
    height: 90vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-big{
    font-size: 40px;
}
.text-small{
    font-size: 17px;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 150px;
    margin: auto;
    display: block;
}

.section{
    /* height: 380px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-left{
    flex-direction: row-reverse;
}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paras{
    padding: 0 70px;
}

.thumbnail img{
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 25px 0;
}

.contact{
    background-color: #e8e8ea;
    height: 700px;
}

.text-center{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.form{
    width: 45%;
    margin: 15px auto;
}

.form input, textarea{
    width: 100%;
    border: 2px solid grey;
    border-radius: 6px;
    font-size: 20px;
    padding: 3px;
    margin: 15px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-dark{
    border: 2px solid purple;
    color: purple;
    background: lightyellow;
    margin: 10px auto;
    display: block;
}

.nav-colored {     
    background: rgba(0,0,0,0.8) url('../img/bg.jpeg') center center/cover;
    background-blend-mode: darken; 
}
.nav-transparent { background-color:transparent;}

footer{
    background: rgba(0,0,0,0.8) url('../img/bg.jpeg') center center/cover;
    background-blend-mode: darken;
}

.text-footer{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    color: white;
    font-size: 18px;
}

.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px; 
    display: none;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1450px){
    .navlist{
        width: 60%
    }
    .rightNav{
        width: 40%;
    }
}
@media only screen and (max-width: 1050px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 1s ease-out;
        height: 350px;
    }
    .navlist li{
        padding: 12px 30px;
    }
    .rightNav{
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secondHalf{
        margin-top: 30px;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
        margin-bottom: 15px;
    }
    .thumbnail img{
        margin: 20px 0;
    }
    .form input, textarea{
        font-size: 14px;
    }
}